<HTML>
<BODY>
<head>
  <title><%= c.name %></title>
  
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5xZ-YSZrjmaPmDsElJ36ybv3OqWkIRZI"></script>
<script type="text/javascript">

		var loadMap = function () {
			var myLatLng ={"lat":<%= c.address.coord.lat%>,"lng":<%= c.address.coord.lon%>};
			var map = new google.maps.Map(document.getElementById("map"), {
				zoom: 12,
				center: myLatLng
			});
			var map = new google.maps.Marker({
				position: myLatLng,
				map: map,

			});
		};
		window.onload = loadMap;
</script>
  
<style>
a:link, a:visited {
    background-color: white;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: black;
	color: white;
}
</style>  
  

  
</head>
<H2><%= c.name %></H2>
<p>Restaurant ID: <font color="#000000"><%= c._id %></font></p>
<p>Name: <font color="#00942C"><%= c.name %></font></p>
<p>Borough: <font color="#00942C"><%= c.borough %></font></p>
<p>Cuisine: <font color="#00942C"><%= c.cuisine %></font></p>
<p>Photo Mimetype: <font color="#00942C"><%= c.photomt %></font></p>
<p>Street: <font color="#00942C"><%= c.address.street %></font></p>
<p>Building: <font color="#00942C"><%= c.address.building %></font></p>
<p>Zip Code: <font color="#00942C"><%= c.address.zip %></font></p>

<p>User Score: 
  <ol><% c.grades.forEach(function(a) { %>
	<ol><font color="#660000"><%= a.user %> </font> <font color="#00942C"><%= a.score %> </font></ol></a>
  <% });                        %>
</ol></p>
  


<p>Owner: <font color="#ff0000"><%= c.owner %></font></p>



<form>
	<a href="rate">Rate</a>
	<a href="update">Edit</a>
	<a href="delete">Delete</a>
	<a href="read" >Back</a>
	
	
<p>
<img src="data:'<%= c.photo[1].mimetype%>;base64,<%= c.photo[1].image%>">
</p>




<div id="map" style="width:800px;height:500px;">
</div>

</form>
</BODY>
</HTML>
