<html>
<head>
<title>Edit Restaurants</title>

</head>
<body>

	<form action="/update", method="post">
	
		

				Edit Name:<br>
				<input type="text" name="name" value="<%= a %>" style="background-color: #FFFFCC;color: #000000" ><br><br>
				Edit Borough:<br>
				<input type="text" name="borough" value="<%= b %>" style="background-color: #FFFFCC;color: #000000"><br><br>
				Edit Cuisine:<br>
				<input type="text" name="cuisine"  value="<%= c %>" style="background-color: #FFFFCC;color: #000000"><br><br>		
				Edit Street:<br>
				<input  type="text" name="street"  value="<%= d %>" style="background-color: #FFFFCC;color: #000000"> <br><br>
				Edit Building:<br>
				<input  type="text" name="building"  value="<%= e %>" style="background-color: #FFFFCC;color: #000000"><br><br>
				Edit Zipcode:<br>
				<input  type="text" name="zip"  value="<%= f %>" style="background-color: #FFFFCC;color: #000000"><br><br>
				Edit Uploaded Photo:<br>
			   <input type="file" name="picture" accept="image/*"> <br><br>
				
				
				<br>
				<input type="submit" value="Update">
				<input type="button" onclick="history.back()" value="Cancel">
		

	</form>
</body>
</html>


